<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>header</title>
</head>
<body>
<header th:fragment="header">
    <div id="header-main">
        <div id="header-main-left">
            <a th:href="@{/}"><img id="header-logo" alt="Logo"
                                   src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png"></a>
            <ul class="users-online">
                <!-- AJAX populated list -->
            </ul>
            <div id="header-navigation">
                <ul>
                    <li><a th:href="@{/home}" th:text="#{title.home}"></a></li>
                    <li><a th:href="@{/profile/browse}" th:text="#{title.profile.browse}"></a></li>
                    <li><a th:href="@{/myprofile}" th:text="#{heading.myprofile}"></a></li>
                    <li><a th:href="@{/favorites}" th:text="#{heading.favorites}"></a></li>
                    <li>
                        <form action="#" th:action="@{/logout}" method="post">
                            <input type="submit" th:value="#{logout}">
                        </form>
                    </li>
                </ul>
                <!-- TODO: add javascript to trim search string on client-side -->
                <form id="header-search" action="#" th:action="@{/search}" method="get">
                    <div class="ui input">
                        <input id="query" name="query" type="text" th:placeholder="#{search.title}">
                    </div>
                    <input type="submit" th:value="#{search}">
                </form>
            </div>
        </div>
    </div>
</header>
</body>
</html>