<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/logged-in-layout}">
<head>
    <title th:text="#{title.profile.browse}"></title>
</head>
<body>
<div layout:fragment="layout-content">
    <h1 th:text="${#messages.msg('people') + ' ' + #strings.toLowerCase('online')}"></h1>

    <div class="ui horizontal list">
        <div class="item" th:each="userProfile : ${userProfiles}">
            <th:block th:replace="fragments/profile :: renderProfile(${userProfile})"/>
        </div>
    </div>
    <!--/*
    <table>
        <tr>
            <th th:text="#{id}"></th>
            <th th:text="#{name}"></th>
            <th th:text="#{age}"></th>
            <th th:text="#{gender}"></th>
            <th th:text="#{age}"></th>
            <th></th>
        </tr>
        <tr th:each="userProfile : ${userProfiles}">
            <td th:text="${userProfile.id}"></td>
            <td><a th:href="@{/profile/view(id=${userProfile.id})}" th:text="${userProfile.name}"></a></td>
            <td th:text="${userProfile.age}"></td>
            <td th:text="#{'gender.' + ${#strings.toLowerCase(userProfile.gender)}}"></td>
            <td th:text="${userProfile.age}"></td>
            <td>
                <button th:with="addedAsFavorite = ${favoritesIds != null ? #sets.contains(favoritesIds, userProfile.id) : false}, favoriteString=${#strings.toLowerCase(#messages.msg('favorite'))}"
                        class="ui button js-add-as-favorite" th:disabled="${addedAsFavorite}"
                        th:text="${addedAsFavorite} ? ${#messages.msg('already') + ' ' + favoriteString} : ${#messages.msg('add.as', favoriteString)}"></button>
            </td>
        </tr>
    </table>
    */-->
</div>
</body>
</html>