<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/logged-in-layout}">
<head>
    <title th:text="#{title.favorites}"></title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var removeFavorite = function (favoriteRow, userId) {
                $.ajax({
                    url: '/favorites/remove',
                    data: {userId: userId}
                }).done(function () {
                    alert("Removed favorite");
                    favoriteRow.remove();
                }).fail(function () {
                    alert("Failed to remove favorite");
                });
            };

            $('.js-remove-favorite').on('click', function () {
                var userId = $(this).parent().siblings().first().html();
                removeFavorite($(this).closest('tr'), userId);
            });
        });
    </script>
</head>
<body>
<div layout:fragment="layout-content">
    <h1 th:text="#{heading.favorites}"></h1>

    <ul class="ui link items">
        <li class="item" th:each="favorite : ${favorites}">
            <div class="ui tiny image"><img
                    th:src="@{'/img/mockuser_' + ${#strings.toLowerCase(favorite.gender)} + '.jpg'}"
                    th:alt="#{profile.picture}"></div>
            <div class="content">
                <div class="header"><i class="blue icon"
                                       th:classappend="${favorite.gender == T(app.domain.Gender).MALE} ? 'mars' : 'venus'"></i>&nbsp;
                    <a th:href="@{/profile/view(id=${favorite.id})}"><span
                            th:text="${favorite.name} + ', ' + ${favorite.age}"></span></a>
                </div>
                <div class="description">
                    <p th:text="${favorite.presentation}"></p>
                    <button class="ui tiny basic blue button js-remove-favorite"
                            th:text="${#messages.msg('remove', #strings.toLowerCase(#messages.msg('favorite')))}"></button>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>