<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}">-->
</head>
<body>
<header style="background-color: rgb(200,200,200); width: 100%">
    <ul class="header-main">
        <li><a th:href="@{/home}">Hem</a></li>
        <li><a th:href="@{/profile/browse}">Folk online</a></li>
        <li><a th:href="@{/myprofile}">Min profil</a></li>
        <li><a th:href="@{/favorites}">Mina favoriter</a></li>
        <li><a th:href="@{/logout}">Logga ut</a></li>
    </ul>
    <ul class="users-online">
    </ul>
</header>
</body>
</html>