<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/not-logged-in-layout}">
<head>
    <title th:text="#{title.register}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic-ui/semantic.min.css}">

    <style>
        .fieldError {
            border: 1px solid red !important;
        }
    </style>
</head>
<body>
<div layout:fragment="layout-content">
    <h1 th:text="#{register}"></h1>
    <div th:include="forms/register-form"></div>
</div>
</body>
</html>