<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/logged-in-layout}">
<head>
    <title th:text="#{title.profile.view}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/semantic-ui/components/dimmer.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic-ui/components/modal.min.css}">

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script th:src="@{/semantic-ui/semantic.min.js}"></script>
    <script th:src="@{/semantic-ui/components/dimmer.min.js}"></script>
    <script th:src="@{/semantic-ui/components/modal.min.js}"></script>
    <script>
        $(document).ready(function () {
            var addAsFavorite = function (addAsFavoriteButton, userId) {
                debugger;
                $.ajax({
                    url: '/favorites/add',
                    data: {userId: userId}
                }).done(function () {
                    alert("Added favorite");
                    addAsFavoriteButton.prop('disabled', true);
                }).fail(function () {
                    alert("Failed to add favorite");
                });
            };

            var openSendMessageDialog = function (userId) {
                $('.ui.modal').modal('show');
            };

            var sendMessageToUser = function (userId, message) {
                $.post({
                    url: '/inbox/send?userId=' + userId,
                    data: message,
                    success: function (data, textStatus, jqXHR) {
                        alert("success!");
                    }
                });
            };

            $('.js-add-as-favorite').on('click', function () {
                var userId = $(this).parent().siblings().first().html();
                addAsFavorite($(this), userId);
            });

            $('.js-open-send-message-dialog').on('click', function () {
                var userId = $(this).parent().siblings().first().html();
                openSendMessageDialog(userId);
            });

            $('.js-send-message').on('click', function () {
                var userId = $(this).data('user-id');
                sendMessageToUser(userId);
            });
        });
    </script>
</head>
<body>
<div layout:fragment="layout-content">
    <h1 th:text="#{profile.show}"></h1>
    <h3><i th:if="${isFavorite}"
           class="yellow star icon"></i><span th:text="${userprofile.name}"></span></h3>
    <div class="ui medium image"><img
            th:src="@{'/img/mockuser_' + ${#strings.toLowerCase(userprofile.gender)} + '.jpg'}"
            th:alt="#{profile.picture}"></div>
    <p>
        <button class="js-open-send-message-dialog ui button"
                th:text="${#messages.msg('send') + ' ' + #strings.toLowerCase(#messages.msg('message'))}"></button>
        <button th:with="favoriteString=${#strings.toLowerCase(#messages.msg('favorite'))}"
                class="ui button js-add-as-favorite" th:disabled="${isFavorite}"
                th:text="${isFavorite} ? ${#messages.msg('already') + ' ' + favoriteString} : ${#messages.msg('add.as', favoriteString)}"></button>
    </p>
    <p><span th:text="#{age}"></span>: <span th:text="${userprofile.age}"></span></p>
    <p><span th:text="#{gender}"></span>: <span
            th:text="#{'gender.' + ${#strings.toLowerCase(userprofile.gender)}}"></span>
    </p>
    <h3 th:text="#{profile.presentation}"></h3>
    <p th:text="${userprofile.presentation}"></p>
    <h3 th:text="#{profile.interests}"></h3>
    <th:block th:replace="fragments/profile :: renderInterests(${userprofile}, ${commonInterests})"/>

    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header"
             th:text="${#messages.msg('send') + ' ' + #strings.toLowerCase(#messages.msg('message'))}"></div>
        <div class="image content">
            <textarea style="width: 100%; height: 500px">Type message here...</textarea>
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="js-send-message ui button" th:data-user-id="${userprofile.id}">Send</div>
        </div>
    </div>
</div>
</body>
</html>